# === Python ===
__pycache__/
*.py[cod]

# === Virtual environments ===
venv/
.venv/

# === VS Code ===
.vscode/

# === Project outputs / unwanted files ===
*.pgn
*.txt
!requirements.txt

# (si quieres ignorar positions.json también)
positions.json

# === OS files ===
.DS_Store
Thumbs.db
